/* 
Project Name: My Portfolio
Client: Michele De Simone
Author: Michele De Simone
*/
/*******************************************/
/* COLOURS */
/*******************************************/
/*******************************************/
/* SENSIBLE DEFAULTS */
/*******************************************/
* {
  box-sizing: border-box; }

.bio h2, .portfolio h2, .work-together h2, .contact h2 {
  text-align: center;
  font-size: 50px;
  color: rgba(239, 35, 60, 0.8);
  font-weight: 400; }

/*******************************************/
/* TYPOGRAPHY */
/*******************************************/
body {
  font-family: 'Open Sans', sans-serif; }

/*******************************************/
/* LAYOUT  */
/*******************************************/
.site-header {
  position: relative;
  max-width: 100%;
  height: 100vh; }

.menu {
  position: relative;
  z-index: 600;
  float: right;
  margin: 30px 20px 0 0; }
  .menu a {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700; }
  .menu a:hover {
    transition-duration: 0.4s;
    color: rgba(0, 0, 0, 0.9); }

.header-container {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  transition: top .4s; }

.closed-menu {
  top: 0; }

.open-menu {
  top: 40px; }

.logo {
  background-image: url(../img/my-logo.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  float: left;
  margin: 20px 0 0 20px; }

.hamburger-menu {
  display: none;
  position: absolute;
  z-index: 700;
  top: 15px;
  right: 20px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer; }
  .hamburger-menu:hover {
    transition-duration: 0.4s;
    color: white; }

.name-wrapper {
  clear: both;
  margin: 0 auto;
  position: relative;
  max-width: 70%;
  top: 32%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white; }
  .name-wrapper .name-unit {
    display: inline-block;
    margin: 0 auto;
    padding: 30px 40px;
    background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2) 3px, rgba(255, 255, 255, 0.2) 3px, rgba(0, 0, 0, 0.2) 6px);
    text-align: center; }
    .name-wrapper .name-unit h1 {
      font-size: 71px; }
  .name-wrapper p {
    margin-top: 20px;
    letter-spacing: 0.2em;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.2); }

.look-down {
  position: absolute;
  bottom: 1%;
  width: 100%;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  text-decoration: none; }
  .look-down i {
    display: block; }

@media screen and (max-width: 700px) {
  .site-header .menu {
    position: fixed;
    z-index: 400;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #30343F;
    text-align: center;
    line-height: 2.3; }
    .site-header .menu a {
      margin: 0;
      font-weight: 400;
      padding: 0 5px;
      color: rgba(255, 255, 255, 0.7); }
      .site-header .menu a + a {
        border-left: 1px solid white; }
      .site-header .menu a:hover {
        color: white; }
  .site-header .hamburger-menu {
    display: inline-block; }
  .site-header .name-wrapper {
    max-width: 100%;
    top: 25%; }
    .site-header .name-wrapper .name-unit {
      padding: 30px 20px; }
      .site-header .name-wrapper .name-unit h1 {
        font-size: 50px; }
    .site-header .name-wrapper p {
      margin-top: 15px;
      font-size: 12px; } }
.bio {
  transition-duration: .5s;
  max-width: 100%;
  padding-top: 100px; }
  .bio .bio-container {
    max-width: 80%;
    margin: 0 auto; }
    .bio .bio-container img {
      margin-left: 70px;
      display: inline-block;
      float: left; }
    .bio .bio-container h2 {
      transform: rotate(-90deg) translate(-50px, -110px);
      position: absolute; }
    .bio .bio-container .my-bio {
      float: left;
      margin-top: 50px;
      margin-left: 50px;
      max-width: 60%; }
      .bio .bio-container .my-bio .quote {
        position: relative;
        z-index: 1;
        color: #ff6982;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        text-transform: uppercase; }
        .bio .bio-container .my-bio .quote .quote-mark-op, .bio .bio-container .my-bio .quote .quote-mark-cl {
          z-index: -1;
          position: absolute;
          width: 80px;
          height: 80px;
          opacity: 0.1; }
        .bio .bio-container .my-bio .quote .quote-mark-op {
          top: -30px;
          left: -10px; }
        .bio .bio-container .my-bio .quote .quote-mark-cl {
          bottom: -30px;
          right: -10px; }
      .bio .bio-container .my-bio p {
        margin-top: 50px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        line-height: 35px; }
  .bio .skills-belt {
    margin: 100px auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .bio .skills-belt .right {
      float: right; }
    .bio .skills-belt .left {
      float: left; }
    .bio .skills-belt .column {
      display: inline-block;
      width: 30%;
      margin: 0 15px; }
      .bio .skills-belt .column .skill-unit {
        margin-bottom: 20px; }
        .bio .skills-belt .column .skill-unit .label {
          font-weight: 400;
          color: black;
          opacity: 0.5; }
        .bio .skills-belt .column .skill-unit .skill-level {
          width: 100%;
          font-size: 0;
          margin-top: 10px; }
          .bio .skills-belt .column .skill-unit .skill-level span {
            display: inline-block;
            background-color: #8d99ae;
            width: 10%;
            height: 4px; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-1 span:nth-child(n+2) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-2 span:nth-child(n+3) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-3 span:nth-child(n+4) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-4 span:nth-child(n+5) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-5 span:nth-child(n+6) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-6 span:nth-child(n+7) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-7 span:nth-child(n+8) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-8 span:nth-child(n+9) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-9 span:nth-child(n+10) {
            background-color: #edf2f4; }
          .bio .skills-belt .column .skill-unit .skill-level.rate-10 span:nth-child(n+11) {
            background-color: #edf2f4; }

@media screen and (max-width: 800px) {
  .bio {
    padding: 50px 30px;
    		/* .skills-belt {
    			max-width: 100%;
    			margin: 70px 0;
    
    			.right {
    				float: left;
    			}
    
    			.column {
    				margin: 0;
    				width: 80%;
    				// padding: 0 30px;
    				.skill-unit {
    					margin-bottom: 40px;
    				}
    			}
    		} */ }
    .bio .bio-container {
      max-width: 100%; }
      .bio .bio-container h2 {
        transform: none;
        position: relative;
        text-align: center;
        font-size: 50px;
        color: rgba(239, 35, 60, 0.8);
        font-weight: 400;
        margin-bottom: 50px; }
      .bio .bio-container img {
        margin: 0 auto; }
      .bio .bio-container .my-bio {
        max-width: 50%;
        margin-left: 50px;
        margin-top: 0; }
    .bio .skills-belt {
      margin: 100px auto;
      max-width: 100%; } }
@media screen and (max-width: 650px) {
  .bio {
    padding: 50px 30px; }
    .bio .bio-container {
      max-width: 100%; }
      .bio .bio-container h2 {
        transform: none;
        position: relative;
        text-align: center;
        font-size: 50px;
        color: rgba(239, 35, 60, 0.8);
        font-weight: 400;
        margin-bottom: 40px; }
      .bio .bio-container img {
        margin: 0 auto; }
      .bio .bio-container .my-bio {
        max-width: 100%;
        margin: 80px auto 0; }
    .bio .skills-belt {
      max-width: 100%;
      margin: 70px 0; }
      .bio .skills-belt .right {
        float: left; }
      .bio .skills-belt .column {
        margin: 0;
        width: 80%; }
        .bio .skills-belt .column .skill-unit {
          margin-bottom: 40px; } }
.portfolio {
  transition-duration: .4s;
  background-color: #edf2f4;
  padding: 50px 0 100px;
  overflow-x: hidden;
  	/* .selector-work {
  		margin: 20px auto 50px;
  
  		button {
  			border: none;
  			background-color: $lightgrey;
  			color: rgba(0, 0, 0, 0.5);
  			margin-left: 10px;
  
  			text-decoration: none;
  			text-transform: uppercase;
  			font-size: 13px;
  			font-weight: 700;
  			}
  
  		button:hover, button:focus {
  			transition-duration: 0.4s;
  			outline: 0;
  			color: rgba(0, 0, 0, 0.9);
  		}
  
  	} */ }
  .portfolio h2 {
    text-align: center;
    margin-bottom: 50px; }
  .portfolio .work-belt {
    width: 200%;
    position: relative;
    left: 0%;
    transition-duration: .8s; }
    .portfolio .work-belt .preview-wrap, .portfolio .work-belt .work-wrap {
      width: 50%;
      float: left; }
  .portfolio .preview-container {
    width: 800px;
    margin: 0 auto;
    			/* .deactive {
    				pointer: none;
    				
    				.description-box {
    					height: 200px;
    					bottom: 0;
    
    					.description {
    						display: none;
    					}
    				}
    			} */ }
    .portfolio .preview-container .project {
      position: relative;
      float: left;
      text-align: center;
      width: 200px;
      height: 180px;
      overflow: hidden; }
      .portfolio .preview-container .project .description-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        height: 50px;
        bottom: -100px;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: bottom .4s; }
        .portfolio .preview-container .project .description-box .description {
          color: white;
          top: 20px;
          font-size: 13px; }
      .portfolio .preview-container .project:hover .project {
        overflow: visible; }
      .portfolio .preview-container .project:hover .description-box {
        bottom: 0; }
  .portfolio .work-container {
    width: 600px;
    margin: 0 auto;
    display: none; }
    .portfolio .work-container img {
      max-width: 100%; }
    .portfolio .work-container h3 {
      clear: both;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .portfolio .work-container p {
      margin: 10px 0 30px;
      color: rgba(0, 0, 0, 0.5); }
    .portfolio .work-container .back-to-work {
      position: relative; }
      .portfolio .work-container .back-to-work i, .portfolio .work-container .back-to-work p {
        display: inline-block;
        color: rgba(0, 0, 0, 0.5);
        float: left; }
      .portfolio .work-container .back-to-work i {
        cursor: pointer;
        font-size: 30px; }
        .portfolio .work-container .back-to-work i:hover {
          color: black; }
      .portfolio .work-container .back-to-work p {
        text-transform: uppercase;
        font-size: 13px;
        margin-left: 10px;
        line-height: 10px; }

@media screen and (max-width: 810px) {
  .work-belt {
    padding: 0 30px; }
    .work-belt .preview-container {
      width: 400px; } }
@media screen and (max-width: 500px) {
  .portfolio h2 {
    font-size: 40px;
    margin-bottom: 50px; }
  .portfolio .preview-container {
    width: 250px; }
    .portfolio .preview-container .project, .portfolio .preview-container img {
      width: 250px;
      height: 230px; } }
.work-together {
  padding: 50px 0; }
  .work-together p {
    margin: 20px 0 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
  .work-together form {
    text-align: left;
    max-width: 500px;
    margin: 0 auto 50px; }
    .work-together form input, .work-together form textarea {
      border: 2px solid #8d99ae;
      width: 100%;
      padding: 10px; }
      .work-together form input:focus, .work-together form textarea:focus {
        outline: none;
        border-color: #bfcbe0; }
    .work-together form textarea {
      height: 10em; }
    .work-together form .submit-wrap {
      text-align: center; }
    .work-together form [type="submit"] {
      background: #8d99ae;
      color: white;
      font-size: 18px;
      width: 30%; }
      .work-together form [type="submit"]:hover {
        background: #bfcbe0;
        transition-duration: 0.4s; }
    .work-together form .contact-info-group label {
      width: 50%;
      float: left; }
      .work-together form .contact-info-group label:nth-child(1) {
        padding-right: 5px; }
      .work-together form .contact-info-group label:nth-child(2) {
        padding-left: 5px; }
    .work-together form label {
      display: block;
      margin-bottom: 20px; }
      .work-together form label span {
        display: block;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 800px) {
  .work-together {
    padding: 50px 30px; }
    .work-together form .contact-info-group label {
      width: 100%;
      float: left; }
      .work-together form .contact-info-group label:nth-child(1) {
        padding-right: 0; }
      .work-together form .contact-info-group label:nth-child(2) {
        padding-left: 0; }
    .work-together form [type="submit"] {
      width: 100%; } }
.contact {
  padding: 50px 0;
  width: 100%;
  background-color: #edf2f4; }
  .contact .link-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 50px auto 0; }
    .contact .link-wrap .icon {
      display: flex;
      justify-content: space-around; }
      .contact .link-wrap .icon a {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #8d99ae;
        transition-duration: .4s; }
        .contact .link-wrap .icon a:hover {
          background-color: #abb7cc; }
        .contact .link-wrap .icon a img {
          width: 100px;
          height: 100px; }
  .contact .separation-line {
    margin: 50px auto;
    display: block;
    height: 3px;
    width: 200px;
    background-color: #8d99ae; }
  .contact .email-wrap {
    display: flex;
    justify-content: center; }
    .contact .email-wrap .email {
      text-decoration: none;
      color: #8d99ae;
      font-size: 50px; }
      .contact .email-wrap .email:hover {
        color: #abb7cc; }

@media screen and (max-width: 800px) {
  .contact {
    padding: 50px 30px; }
    .contact h2 {
      font-size: 40px; }
    .contact .link-wrap {
      min-width: 100%; }
      .contact .link-wrap .icon {
        margin: 10px auto; }
    .contact .email-wrap .email {
      font-size: 30px; } }
@media screen and (max-width: 500px) {
  .contact .link-wrap {
    min-width: 90%; }
  .contact .email-wrap .email {
    font-size: 16px; } }
.site-footer {
  position: relative;
  width: 100%;
  height: 90px; }
  .site-footer p, .site-footer .menu, .site-footer .logo {
    z-index: 2; }
  .site-footer p {
    float: right;
    margin: 30px 30px 0 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 1.2; }
  .site-footer .menu {
    float: left;
    margin: 35px 0 0 5px; }
  .site-footer .white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    opacity: 0.5; }
  .site-footer .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center; }
  .site-footer .scrollUp {
    opacity: 0;
    transition: opacity .3s;
    visibility: hidden;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    bottom: 110px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    z-index: 2147483647; }
  .site-footer .scrollUp-on {
    opacity: 1;
    visibility: visible; }

@media screen and (max-width: 500px) {
  .site-footer {
    position: relative; }
    .site-footer .logo {
      width: 30px;
      height: 30px; }
    .site-footer p {
      margin: 10px 0;
      float: left;
      width: 100%;
      text-align: center;
      font-size: 10px; }
      .site-footer p br {
        display: none; }
    .site-footer .menu {
      margin: 0;
      position: absolute;
      top: 30%;
      right: 10px; }
      .site-footer .menu a {
        font-size: 12px; }
    .site-footer .scrollUp {
      line-height: 28px;
      font-size: 15px;
      bottom: 100px;
      right: 10px;
      width: 30px;
      height: 30px; } }
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff; }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff; } }
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff; }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff; } }
/*******************************************/
/* HELPER CLASSES */
/*******************************************/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.is-hidden {
  display: none; }

.is-visible {
  display: block; }

/*! 
LATEST VERSION: 
https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css
normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css 
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=main.css.map */
