.contact {
	padding: 50px 0;
	width: 100%;
	background-color: $lightgrey;

	.link-wrap {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 50%;
		margin: 50px auto 0;


		.icon {
			display: flex;
			justify-content: space-around;
			
			a {
				position: relative;
				display: inline-block;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background-color: $bluenavy;
				transition-duration: .4s;
				text-align: center;

				&:hover {
					background-color: $bluenavy +30;
				}

				i {
					font-size: 70px;
					line-height: 100px;
					color: white;
				}

				.resize-text {
					font-size: 55px;
				}

				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}

	.separation-line {
		margin: 50px auto;
		display: block;
		height: 3px;
		width: 200px;
		background-color: $bluenavy;
	}

	.email-wrap {
		display: flex;
		justify-content: center;
		

		.email {
			text-decoration: none;
			color: $bluenavy;
			font-size: 50px;
			transition-duration: .4s;

			&:hover {
				color: $bluenavy +30;
			}
		}
	}
}
@media screen and (max-width:800px) {
	.contact {
		h2 {
			font-size: 40px;
		}
		padding: 50px 30px;

		.link-wrap {
			min-width: 100%;

			.icon {
				margin: 10px auto;
			}
		}
		.email-wrap {
			.email {
				font-size: 30px;
			}
		}		
	}
}
@media screen and (max-width:500px) {
	.contact {
		.link-wrap {min-width: 90%;}
		.email-wrap{
			.email {
				font-size: 16px;
			}
		}
	}
}