.site-footer {
	position: relative;
	width: 100%;
	height: 90px;

	p, .menu, .logo {
		z-index: 2;
	}

	p {
		float: right;
		margin: 30px 30px 0 0;
		color: rgba(0,0,0,0.5);

		font-size: 13px;
		line-height: 1.2;

	}

	.menu {
		float: left;
		margin: 35px 0 0 5px;
	}

	.white-box { //hack for apply the opacity to the background image
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;

		background-color: white;
		opacity: 0.5;
	}

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -2;
		background-image: url(../img/hero.jpg);
		background-size: cover;
		background-position: center;
	}

	.scrollUp {
		opacity: 0;
		transition: opacity .3s;
		visibility: hidden;
		line-height: 50px;
		text-align: center;
		border-radius: 50%;
		font-size: 20px;
	    bottom: 110px;
	    right: 20px;
	    width: 50px;
	    height: 50px;
	    background-color: rgba(0,0,0,0.5);
	    color: #fff;
	    position: fixed; 
	    z-index: 2147483647;
	}
	.scrollUp-on{
		opacity: 1;
		visibility: visible;
	}
}
@media screen and (max-width:500px) {
	.site-footer {
		position: relative;
		.logo {
			width: 30px;
			height: 30px;
		}
		p {
			margin: 10px 0;
			float: left;
			width: 100%;
			text-align: center;
			font-size: 10px;
			br {
				display: none;
			}
		}
		.menu {
			margin: 0;
			position: absolute;
			top: 30%;
			right: 10px;

			a {
				font-size: 12px;
			}
		}
		.scrollUp {
			line-height: 28px;
			font-size: 15px;
		    bottom: 100px;
		    right: 10px;
		    width: 30px;
		    height: 30px;
	}
	}
}