.site-footer {
	position: relative;
	width: 100%;
	height: 150px;

	p, .menu, .logo {
		z-index: 2;
	}

	p {
		float: right;
		margin: 30px 30px 0 0;
		color: white;

		font-size: 13px;
		font-weight: 300;
		line-height: 1.4;

	}

	.menu {
		float: left;
		margin: 35px 0 0 5px;
	}

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -2;
		background-image: url(../img/hero.jpg);
		background-size: cover;
		background-position: 0% 70%;
	}

	.scrollUp {
		opacity: 0;
		transition: opacity .3s;
		visibility: hidden;
		line-height: 45px;
		text-align: center;
		border-radius: 10%;
		font-size: 20px;
	    bottom: 160px;
	    right: 20px;
	    width: 50px;
	    height: 50px;
	    background-color: rgba($green, 0.8);
	    color: #fff;
	    position: fixed; 
	    z-index: 2147483647;
	}
	.scrollUp-on{
		opacity: 1;
		visibility: visible;
	}
}
@media screen and (max-width:600px) {
	.site-footer {
		position: relative;
		.logo {
			width: 30px;
			height: 30px;
		}
		p {
			position: absolute;
			bottom: 10%;
			margin: 10px auto;
			width: 100%;
			text-align: center;
			font-size: 10px;
			br {
				display: none;
			}
		}

		.menu {
			margin: 0;
			position: absolute;
			top: 20px;
			right: 10px;

			a {
				font-size: 10px;
			}
		}
		.scrollUp {
			line-height: 28px;
			font-size: 15px;
		    bottom: 100px;
		    right: 10px;
		    width: 30px;
		    height: 30px;
	}
	}
}